

<section class="engine"><a href="https://mobirise.me/t">free amp template</a></section>
<section class="features8 cid-qTtOqG2yRw mbr-parallax-background" id="features8-a">

<app-direction-bar>Loading</app-direction-bar>
</section>
<div>
<div class="col-md-12 fondo-form" id="FechaI">
  
    <div class="form-group">
        <label for="exampleInputEmail" class="wordB" ><br>Fecha</label>
        <input type="date"  class="form-control insertB" min="2017-01" max="2017-12" [(ngModel)]="Fecha"> 
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="wordB">Hora, podria no ser necesario mejor todo el dia pero hay modificar la BD</label>
        <input class="form-control insertB" type="time"  [(ngModel)]="Hora">
      </div><br>

    <div class="form-group">
      <label for="exampleInputEmail" class="wordB" ><br>Fecha Final</label>
      <input type="date"  class="form-control insertB" min="2017-01" max="2017-12" [(ngModel)]="FechaF"> 
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="wordB">Hora Final, podria no ser necesario mejor todo el dia pero hay modificar la BD</label>
      <input class="form-control insertB" type="time"  [(ngModel)]="HoraF">
    </div>
    <button type="button" class="btn btn-primary insertB" (click) = "insert()">ingresar</button>
  <br>

</div>



<section class="mbr-section info3 cid-qTtP7FS2bv mbr-parallax-background" id="info3-e">
<div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column title col-12 col-md-10">
                <h2 class="align-left mbr-bold mbr-white pb-3 mbr-fonts-style display-2"><p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gráficos circulares</p></h2>
                <h3 class="mbr-section-subtitle align-left mbr-light mbr-white pb-3 mbr-fonts-style display-5">Contiene tal y tal cosa de data</h3>
                <p></p><p></p>
                
            </div>
        </div>
    </div>
</section>
<section>
<div class="graficoW"> 
  <app-dona>load</app-dona>
  
  <br><br>
</div>
</section>
<!--
<section class="mbr-section content5 cid-qTtYSXvYY7 mbr-parallax-background" id="content5-f">

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">Gráficos de Barra</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">Contiene tal y tal cosa de data</h3>
                
                
            </div>
        </div>
    </div>
</section>
<section>
<div class="graficoB">
    -->
  <app-barra>Loading </app-barra>
  <!--
  <br><br>
</div>
</section>

<section class="mbr-section content5 cid-qTtYTNK8lb mbr-parallax-background" id="content5-g">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">
                    Gráficos Lineales</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">Contiene tal y tal cosa de data</h3>
                
                
            </div>
        </div>
    </div>
</section>
<section>
<div class="graficoW"> -->
  <app-lineal>Loading</app-lineal>
  <!--
</div>
</section>
-->
</div>
